.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 56px - 1rem);
  width: 100%;
}

.empty {
  text-align: center;
  color: #666;
  font-size: 14px;
}
